{
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "strict",
  "singleQuote": true,
  "files.insertFinalNewline": true
}
